.todo-item {
    display: flex;
    flex-direction: row;
    background-color: #B6BBC4;
    align-items: center;
    justify-content: space-between;
    padding: 0 8px;
    border-radius: 4px;
    margin: 12px 0 0 0;
    height: 36px;
    list-style-type: none;
    
}

.todo-item div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.todo-item input{
    margin-right: 8px;
}

.todo-item p {
    margin: 0;
    padding: 0 8px 0 4px;
}

.completed-todo {
    background-color: #118B50;
    text-decoration: line-through;
}

.icon-delete {
    align-self: center;
    border-radius: 4px;
    cursor: pointer;
}

.icon-delete:hover {
    color: rgb(255, 142, 142);
    background-color: white;
}

.icon-check {
    align-self: center;
    border-radius: 4px;
    cursor: pointer;
}

.icon-check:hover {
    background-color: green;
}

.icon-check-completed {
    color: #5DB996;
}