.search-container {
    display: flex;
    justify-content: space-between;
    height: 32px;
}

.search-container input {
    height: 100%;
    border-radius: 4px;
    width: 80%;
    border: none;
    padding: 0 8px;
}

.search-container button {
    height: 100%;
    width: 52px;
    margin-left: 12px;
    border-radius: 4px;
    background-color: black;
    border: none;
    color: white;
    text-align: center;
    cursor: pointer;
}

.search-container button:hover {
    background-color: rgb(37, 37, 37);
}